apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  namespace: {{ name_space }}
  name: allow-dns-access
  labels:
    tft-tests: "{{ index }}"
spec:
  podSelector:
    matchLabels: {}
  policyTypes:
  - Egress
  egress:
  - to:
    - namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.name: kube-system
      podSelector:
        matchLabels:
          k8s-app: kube-dns
    ports:
    - protocol: UDP
      port: 53
