kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  namespace: {{ name_space }}
  name: allow-iperf-5201-egress
  labels:
    tft-tests: "{{ index }}"
spec:
  podSelector: {}
  egress:
    - to:
        - podSelector: {}
      ports:
        - port: 5201
          protocol: TCP